# App artifacts
/_build
/db
/deps
/target
/priv/native
/gha-creds-*.json
/*.ez
.DS_Store

# Files that cannot affect the production image
/.git
/.github
/*.md
/bench
/docs
/test

# Generated on crash by the VM
erl_crash.dump

# Generated on crash by NPM
npm-debug.log

# Static artifacts
/assets/node_modules

.deliver/releases

/tables
/system-table

/config/secrets

# IDEs

/.elixir_ls/
/.idea/

# Docker
/docker
docker*

/priv/static/
