<.subheader>
  <:path>~/alerts/not found</:path>
</.subheader>

<div className="tw-px-4 tw-flex tw-flex-col tw-gap-4">
  <h1>Alert Not Found</h1>
  <p>
    This alert does not exist. Select an alert from the list instead
    instead.
  </p>
</div>
