<.subheader>
  <:path>
    ~/<.link patch={~p"/endpoints"} data-confirm="Confirm navigate away? All unsaved changes will be lost">endpoints</.link>/new
  </:path>
</.subheader>

<div class="container mx-auto">
  <.endpoint_form {assigns} />
</div>
