# App artifacts
/_build
/db
/deps
/*.ez
.DS_Store

# Generated on crash by the VM
erl_crash.dump

# Generated on crash by NPM
npm-debug.log

# Static artifacts
/assets/node_modules

.deliver/releases

/tables
/system-table

/config/secrets

# IDEs

/.elixir_ls/
/.idea/

Dockerfile