<%= render_in "error_container.html", assigns do %>
  <div class="col-lg-7">
    <h1>401</h1>
    <h2 class="text-white mb-3">Unauthorized </h2>
    <p>Get back <a href="/" target="_blank">to homepage</a></p>
  </div>
<% end %>
