<div class="subhead subhead-fixed">
  <div class="container mx-auto">
    <%= render LogflareWeb.AdminSharedView, "nav_links.html", conn: @conn %>
    <h5>~/admin/dashboard</h5>
  </div>
</div>
<div class="dashboard container mx-auto">
  <h1>Nothing here yet</h1>
</div>
<script>
  document.addEventListener("DOMContentLoaded", async () => {
    await Dashboard.main()
  })
</script>
