<div class="subhead subhead-fixed">
  <div class="container mx-auto">
    <h5>~/logs/<span class="text-primary"><%= @source.name %>/edit</h5>
  </div>
</div>

<div class="container mx-auto">
<%= form_for @changeset, source_path(@conn, :update, @source), fn f -> %>
  <div class="form-group">
    <%= text_input f, :name, placeholder: "Title", class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <%= submit "Save source", class: "btn btn-primary" %>
<% end %>
</div>
