<%= render_in "error_container.html", assigns do %>
  <div class="col-lg-7">
    <h1>403</h1>
    <h2 class="text-white mb-3">Forbidden</h2>
    <p>You don't have access to this resource</p>
  </div>
<% end %>
