<.subheader {assigns}>
  <:path>
    ~/<.subheader_path_link live_patch to={~p"/backends"} team={@team}>backends</.subheader_path_link>/<.subheader_path_link live_patch to={~p"/backends/#{@backend.id}"}>
      {@backend.name}
    </.subheader_path_link>/edit
  </:path>
  <.subheader_link to="https://docs.logflare.app/backends" external={true} text="docs" fa_icon="book" />
</.subheader>

<section class="mx-auto container">
  <.backend_form {assigns} />
</section>
