/* This file is for your main application css. */

.delete-link {
  font-size: 10px;
  color: red;
  text-transform: uppercase;
}

.header {
  margin-bottom: 20px;
}

.example-log-code {
  font-size: 10px;
}
