/* This file is for your main application css. */
@import "~bootstrap/scss/bootstrap";
@import "../../deps/live_monaco_editor/priv/static/live_monaco_editor.min.css";

@import "named_variables";
@import "dashboard";
@import "header";
@import "buttons";
@import "marketing";
@import "homepage";
@import "source_log_search";
@import "ui";
@import "contact";
@import "guides";
@import "guide_page";
@import "marketing_responsive";
@import "media_queries";
@import "legal";
@import "forms";
@import "admin";
@import "lql";
@import "oauth";
@import "pricing";
@import "errors";
@import "marketing_pricing";
@import "log_event";
@import "json_formatter_logflare";
@import "alerts";
@import "billing";
@import "modal";
@import "live_view";

/* Try this for zooming on iPhone */
button,
select,
textarea,
input {
  font-size: 16px !important;
}

#logo-box {
  padding-left: 0.45em;
  padding-top: 0.15em;
  border-style: solid;
  width: 2em;
  height: 2em;
  margin-right: 0.4em;
}

body {
  background-color: #161616;
  color: #9a9a9a;
  font-size: 1em;
  display: flex;
  flex-direction: column;
}

main.app {
  padding-bottom: 10px;
}

.pre-metadata {
  padding: 20px;
  font-size: 0.75em;
  margin-top: 1rem;
}

.metadata {
  padding-top: 0;
}

.loading {
  background-color: $brand-light-black;
}

.tooltip-inner {
  min-width: 100px;
}

.source-meta-data {
  margin-left: 2em;
}

.blockquote {
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-size: 1.75em;
}

.modal-content {
  color: $brand-gray;
  background-color: $brand-black;
}

.modal-header {
  color: black;
  background-color: $brand-green;
}

.modal-header {
  border-bottom: 0;
  border-top-left-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
}

.modal-body {
  table {
    @extend .table;
    @extend .table-dark;
  }
  h1, h2, h3, h4, h5 {
    @extend .header-margin
  }
}

#login {
  max-width: 300px;
}

.login-icon {
  padding-right: 10px;
}

.source-link {
  margin-left: 2em;
  width: 65%;
}

.rules-input {
  display: block;
}

.rules {
  display: inline-block;
  width: 35%;
  margin: 0 1em 0 0;
  vertical-align: top;
}

.copyable-code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  background-color: $brand-light-black;
  color: $brand-light-gray;
  display: block;
  font-size: 87.5%;
  width: 1200px;
  height: 250px;
  border: none;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.textarea-container {
  overflow-y: scroll;
}

/*
.col-lg-4 {
  padding: 1em 1.5em;
}
*/
#no-logs-warning {
  margin-right: 10%;
  max-width: 800px;
}

code {
  color: #e35b8d;
}

.pointer-cursor {
  cursor: pointer;
}

.footer {
  margin-top: 4em;
}

.log-settings {
  display: flex;
  justify-content: flex-end;
}

.log-settings a,
.log-settings a:hover {
  text-decoration: none;
  color: black;
}

.scroll-margin {
  scroll-margin-top: 150px;
}

pre {
  background-color: #1d1d1d;
  color: #e2e2e2;
}

.message {
  position: fixed;
  bottom: 50px;
  right: 50px;
  max-width: 40%;
  z-index: 1050;
  min-width: 250px;
}

.inner-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  margin: 0 auto;

  & button {
    padding-left: 5px;
  }
}

.close {
  text-shadow: 1px 1px 1px #ffffff75;
}

a, button.btn-link {
  color: #e35b8d;
}

.lf-modal-header {
  @extend .align-items-center;
}

a.phx-modal-close {
  color: black;
}

a:hover {
  color: white;
  text-decoration: underline;
}

#login .list-group a {
  color: white;
}

a:focus, button.btn-link:focus {
  outline: 3px dashed $brand-fuscia;
  outline-offset: 3px;
  box-shadow: none;
}

.text-primary {
  color: #386c26 !important;
}

.text-danger {
  color: #d62f0a !important;
}

.text-bold {
  font-weight: bold;
}
.hidden {
  display: none;
}
.w-full{
  width: 100%;
}
.subhead a:hover {
  text-decoration: none;
  color: black !important;
}

mark {
    /* default, used for info and no log level */
    background-color: #5eeb8f;

    &[class^="log-level-"] {
        background: none;
    }

    &.log-level-info {
        color: #5eeb8f;
    }
    &.log-level-error {
        color: #dc3545;
    }

    &.log-level-warning {
        color: #f1ba58;
    }

    &.log-level-debug {
        color: #3787ff;
    }

    &.log-level-critical {
        color: #bd1550;
    }

    &.log-level-emergency {
        color: #b11226;
    }

    &.log-level-alert {
        color: #dc3545;
    }

    &.log-level-notice {
        color: #03c03c;
    }
}

.example-log-code {
  font-size: 10px;
}

.console-text {
  font-family: monospace;
  font-size: 1em;
  color: $brand-light-gray;
  word-break: break-word;
  overflow-wrap: break-word;
  /* overflow-x: scroll;
  height: calc(100vh - 110px); */
  margin-bottom: 5px;
  /* display: flex;
  flex-direction: column-reverse; */
}

.console-text-list {}

.container {
  max-width: 95%;
}

.marketing {
  margin-top: 3em;
  margin-bottom: 3em;
}

.homepage-container {
  margin-top: 1em;
  max-width: 90%;
}


.flash-text {
  animation: flashText ease 1s;
  -webkit-animation: flashText ease 1s;
  -moz-animation: flashText ease 1s;
  -o-animation: flashText ease 1s;
  -ms-animation: flashText ease 1s;
}

@keyframes flashText {
  0% {
    color: #2a6cce;
  }

  100% {}
}

@-moz-keyframes flashText {
  0% {
    color: #3787ff;
  }

  100% {}
}

@-webkit-keyframes flashText {
  0% {
    color: #3787ff;
  }

  100% {}
}

@-o-keyframes flashText {
  0% {
    color: #3787ff;
  }

  100% {}
}

@-ms-keyframes flashText {
  0% {
    color: #3787ff;
  }

  100% {}
}
