/* This file is for your main application css. */

.delete-link {
  font-size: 10px;
  color: red;
  text-transform: uppercase;
}

.header {
  margin-bottom: 20px;
}

.example-log-code {
  font-size: 10px;
}

.my-badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #0000002e;
    border-radius: 10px;
}
