/* This file is for your main application css. */

@import "~bootstrap/scss/bootstrap";

body {
  background-color: black;
  color: #7EF854;
}

.favorite {
  width: 2em;
  padding-top: .5em;
  padding-bottom: 1.5em;
}

.metadata {
  padding-top: 0px;
}

.favorite a {
  color: #fff200;
}

.favorite a:hover {
  color: yellow;
}

.source-meta-data {
  margin-left: 2em;
}

.source-details {
  margin-right: 1em;
  color: #6c757d;
}

.input_container input.form-control {
 display: inline-block;
 margin: 0 1em 1em 0;
 width: 90%;
}

.blockquote {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1.75em;
}

.modal-content {
  color: #7EF854;
  background-color: black;
}

.modal-header {
  color: black;
  background-color: #7EF854;
}

.modal-header {
  border-bottom: 0px;
  border-top-left-radius: 0.1rem;
  border-top-right-radius: .1rem;
}

.modal-content {
  border: 3px solid rgba(0,0,0,.2);
}

#login {
  max-width: 300px;
}

.label-padding {
  margin-top: 1em;
}

.login-icon {
  padding-right: 10px;
}

.word-break-all {
  word-break: break-all;
}

.source-link {
  margin-left: 2em;
  width: 65%;
}

.btn-dark {

}

.header-margin {
  padding: 1em 0 .25em 0;
}

.form-button {
  margin-bottom: 1em;
}

.rules-input{
  display: block;
}

.rules {
  display: inline-block;
  width: 35%;
  margin: 0 1em 0 0 ;
  vertical-align: top;
}

#api-key-form {
  width: 102px;
  border: none;
  background: #f8547d;
  height: 1em;
  color: white;
}

.copyable-code {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  background-color: #1d1d1d;
  color: #e2e2e2;
  display: block;
  font-size: 87.5%;
  width: 1200px;
  height: 250px;
  border: none;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.textarea-container {
  overflow-y: scroll;

}

.footer-list {
  display: inline;
}

.feature-icons {
  color: #ff913d;
  width: 50px!important;
}

#homepage-header {
  height: 250px;
  background-color: #1d1d1d;
}

#homepage-header-text {
  padding-top: 5em;
  padding-left: 7%;
}

#no-logs-warning {
  margin-right: 10%;
  max-width: 800px;
}

.screenshot {
  position: absolute;
  right: 100px;
  top: 90px;
  width: 500px;
  background-color: #333;
  border-radius: 3px;
  transform: rotate(3deg);
  box-shadow: 0px 0px 35px rgba(0,0,0,.25);
}

main {
  margin-top: 110px;
}

.alert-info a {
  color: white;
  text-shadow: 0px;
}

code {
  color: #cf54f8;
}

.pointer-cursor {
  cursor: pointer;
}

h2 {
  color: #0cf;
}

h4 {
  margin-top: 1em;
}

#feature-list li:before {
  margin-right: .5em;
  margin-left: .75em;
  color: #f58220;
}

.footer {
  margin-top: 1em;
}

.subhead code {
  color: white;
  background-color: #f8547d;
  padding: .2em;
}

.dashboard-links:hover {
  text-decoration: none;
}

.dashboard-links {
  margin-left: .5em;
}

.help-block {
    color: red;
    text-transform: uppercase;
    font-size: .75rem;
}

.navbar {

}

.log-settings a, .log-settings a:hover  {
  text-decoration: none;
  color: black;
}

.jumbotron {
  background-color: #1d1d1d;
  margin-top: 1em;
}

.btn-primary {
  background-color: #cf54f8;
  border-color: #dd76ff;
}

.btn-primary:hover {
  background-color: #bf00ff;
  border-color: #dd76ff;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #bf00ff;
    border-color: #dd76ff;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.27);
}

.alert {
  border-radius: .25rem;
  margin-bottom: 0rem;
}

.alert-warning {
  background-color: #f8f854;
  border-width: 0px;
}

.alert-info {
  background-color: #00ccff;
  border-width: 0px;
}

pre {
  background-color: #1d1d1d;
  color: #e2e2e2;
}

.message {
    position: fixed;
    top: 25px;
    left: 25px;
    width: 250px;
    z-index: 1050;
}
.inner-message {
    color: black;
    margin: 0 auto;
}

/* Fixes artifacts in Chrome */

.list-group-item:focus, .list-group-item:hover {
    z-index: auto;
}

.close {
    text-shadow: 1px 1px 1px #ffffff75;
}

.list-group-item {
  background-color: #1d1d1d;
  border: 0px;
  overflow: hidden;
}

a {
  color: #e2e2e2;
}

a:hover {
  color: white;
}

.text-primary {
  color: #386C26!important;
}

mark {
  background-color: #92DF78;
}

.bg-light {
  background-color: #7EF854!important;
}

.source-header {

}

.subhead {
  background-color: #92DF78;
  padding-top: .35em;
  padding-bottom: .35em;

  color: black;
  box-shadow: 0px 0px 35px #000000;
}

.subhead h5 {
  margin: 0px;
  display: flex;
  max-width: 70%;
  overflow: hidden;
}

.subhead li {
  display: inline-block;
  margin-left: .5em;
}

.subhead ul {
  margin: 0px;
  padding: 0px;
}


.list-group {
  margin-bottom: .75rem;
}

.example-log-code {
  font-size: 10px;
}

.my-badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: .7em;
    line-height: 1;
    color: black;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #92DF78;
    border-radius: 10px;
}

#console-text {
  font-family: monospace;
  font-size: 1em;
  color: #7EF854;
  word-break: break-word;
  overflow-wrap: break-word;
  /* overflow-x: scroll;
  height: calc(100vh - 110px); */
  padding-bottom: 5px;
  /* display: flex;
  flex-direction: column-reverse; */
}

.console-text-list {
  margin: 0px;
}

.subhead-fixed {
  position: fixed;
  top: 55px;
  right: 0;
  left: 0;
  z-index: 1020;
}

.container {
  max-width: 95%;
}

.marketing {
  margin-top: 3em;
}

.homepage-container {
  max-width: 85%;
}

.no-subhead {
  margin-top: -55px;
}

@media screen and (max-width: 990px) {

    .hide-on-mobile {
      display: none!important;
    }

}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}


@keyframes fadeIn{
  0% {
    background-color: #00ccff;
  }
  100% {
    background-color: #92DF78;
  }
}

@-moz-keyframes fadeIn {
  0% {
    background-color: #00ccff;
  }
  100% {
    background-color: #92DF78;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    background-color: #00ccff;
  }
  100% {
    background-color: #92DF78;
  }
}

@-o-keyframes fadeIn {
  0% {
    background-color: #00ccff;
  }
  100% {
    background-color: #92DF78;
  }
}

@-ms-keyframes fadeIn {
  0% {
    background-color: #00ccff;
  }
  100% {
    background-color: #92DF78;
  }
}

.flash-text {
  animation: flashText ease 1s;
  -webkit-animation: flashText ease 1s;
  -moz-animation: flashText ease 1s;
  -o-animation: flashText ease 1s;
  -ms-animation: flashText ease 1s;
}


@keyframes flashText{
  0% {
    color: #00ccff;
  }
  100% {
  }
}

@-moz-keyframes flashText {
  0% {
    color: #00ccff;
  }
  100% {
  }
}

@-webkit-keyframes flashText {
  0% {
    color: #00ccff;
  }
  100% {
  }
}

@-o-keyframes flashText {
  0% {
    color: #00ccff;
  }
  100% {
  }
}

@-ms-keyframes flashText {
  0% {
    color: #00ccff;
  }
  100% {
  }
}
