#billing-chart {
  position: relative;
  padding-bottom: 3%;
}

#stripe-elements-form {
  max-width: 400px;
}

/* Styling for tick line */
.exc-tick {
    stroke: grey;
    stroke-width: .5px;
    
  }
  /* Styling for tick text */
  .exc-tick text {
    fill: grey;
    stroke: none;
    font-size: 0.2rem;
  }
  /* Styling for axis line */
  .exc-domain {
    stroke:  rgb(207, 207, 207);
    stroke-width: .5px;
  }
  /* Styling for grid line */
  .exc-grid {
    stroke: lightgrey;
    stroke-width: .5px;
  }
  /* Styling for outline of colours in legend */
  .exc-legend {
    stroke: black;
    stroke-width: .5px;
  }
  /* Styling for text of colours in legend */
  .exc-legend text {
    fill: grey;
    font-size: 0.8rem;
    stroke: none;
  }
  /* Styling for title & subtitle of any plot */
  .exc-title {
    fill: darkslategray;
    font-size: 2.3rem;
    stroke: none;
  }
  .exc-subtitle {
    fill: darkgrey;
    font-size: 1.0rem;
    stroke: none;
  }
  /* Styling for label printed inside a bar on a barchart */
  .exc-barlabel-in {
    fill: white;
    font-size: 0.7rem;
  }
  /* Styling for label printed outside of a bar (e.g. if bar is too small) */
  .exc-barlabel-out {
    fill: grey;
    font-size: 0.7rem;
  }
