#explore-dashboard {
  margin-bottom: 1em;
}

#saved-searches {
  width: 25%;
  float: left;
  margin-right: 20px;
}

#saved-searches li {
  word-break: break-word;
  margin-bottom: 0.5em;
}

#team-members li {
  margin-bottom: 0.5em;
}

#new-source-button {
  margin-left: 2em;
}

.list-unstyled img {
  display: inline;
}

.dashboard-links:hover {
  text-decoration: none;
  color: white;
}

.dashboard-links {
  margin-left: 0.5em;
  color: white;
  font-size: 80%;
}

.dashboard {
  & a {
    color: white;
  }

  & .favorite a {
    color: #fff86c;
    width: 2em;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
  }

  & .favorite a:hover {
    color: yellow;
  }
}

.dashboard-row-aligned-icon {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}

.my-badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 0.7em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
  font-variant-numeric: tabular-nums;
}

.source-details a {
  color: black;
}

.my-badge-info {
  background-color: $brand-green;
  color: black;
}

.my-badge-warning {
  background-color: $orangecolor;
  color: black;
}

.my-badge-error {
  background-color: $redcolor;
  color: black;
}

.list-group {
  margin-bottom: 0.75rem;
}

.list-group-item {
  background-color: #1d1d1d;
  border: 0;
  overflow: hidden;
}
/* Fixes artifacts in Chrome */
.list-group-item:focus,
.list-group-item:hover {
  z-index: auto;
}

#api-key-form {
  width: 102px;
  border: none;
  background: #f8547d;
  height: 1em;
  color: white;
}

.word-break-all {
  word-break: break-all;
}

.source-details {
  margin-right: 1em;
  color: $brand-gray;
  font-variant-numeric: tabular-nums;
}