.hero {
  min-height: 100vh;
  background: url("/images/marketing/homepage/bgDesktopTop-4x.png") no-repeat center;
  background-size: cover;
  padding-bottom: 20px;
  padding-top: 230px;
  position: relative;
  overflow: hidden;
}