.errors.hero {
  min-height: 50vh;
  height: 50vh;
  background: url("/images/marketing/homepage/bgDesktopTop-4x.png") no-repeat center;
  background-size: cover;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
}