.heroguidepage {
  background: url("/images/marketing/guides/guidepageherobg.png") no-repeat bottom center, linear-gradient(#181818 100%, #181818 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 339px;

  h1 {
    color: #FFFFFF;
    // font-family: 'Rubik', sans-serif;
    font-size: 44px;
    font-weight: bold;
    line-height: 52px;
    text-align: center;
    margin: 141px 0 22px;
  }

  p {
    color: #FFFFFF;
    // font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
  }

  position: relative;

  .miniimgbox {
    z-index: 1;
    position: absolute;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #fff;
    left: 0;
    right: 0;
    bottom: -30px;
    margin: auto;

    img {
      display: block;
      position: relative;
      margin: 12px auto auto;
      height: 40px;
      width: 40px;
    }
  }
}

.contentguidepage {
  background: #181818;
  padding-top: 122px;

  .forfixed {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 190px;
    float: right;
  }

  .contentmenu {
    max-width: 190px;
    float: right;

    h2 {
      color: #969696;
      // font-family: 'Rubik', sans-serif;
      font-size: 21px;
      font-weight: bold;
      line-height: 26px;
      margin: 0 0 29px;
    }

    h4 {
      font-weight: bold;
      line-height: 26px;
      margin: 0 0 29px;
    }

    .scrollmenu {
      width: 100%;
      display: block;
      color: #B7B7B7;
      // font-family: 'Rubik', sans-serif;
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 1.5px;
      line-height: 26px;
      text-transform: uppercase;
      margin: 0 0 25px;
      width: 100%;
      display: block;
    }

    .scrollmenu:hover {
      color: #fff;
    }

    .activecon {
      color: #fff;
    }
  }

  .cont {
    margin-top: -10px;

    h1 {
      margin: 0;
      color: #FFFFFF;
      // font-family: 'Rubik', sans-serif;
      font-size: 32px;
      font-weight: bold;
      line-height: 39px;
      padding-left: 105px;
      margin-bottom: 25px;
    }

    h2 {
      margin: 0;
      color: #FFFFFF;
      // font-family: 'Rubik', sans-serif;
      font-size: 26px;
      font-weight: bold;
      line-height: 39px;
      padding-left: 105px;
      margin-bottom: 25px;
    }

    h4 {
      margin: 0;
      padding-left: 105px;
      margin-bottom: 25px;
    }

    p {
      margin: 0;
      color: #969696;
      // font-family: 'Rubik', sans-serif;
      font-size: 16px;
      line-height: 26px;
      padding-left: 105px;
      margin-bottom: 30px;
      max-width: 730px;

      span {
        color: #E35B8D;
      }
    }

    ul {
      margin: 0;
      padding-left: 105px;
    }

    .btn {
      margin: 0 0 40px 105px;
    }

    pre {
      margin: 0 0 30px 105px;
    }

    .minimg {
      margin-top: 65px;
      max-width: 846px;

      .purplebox {
        width: 100%;
        background: linear-gradient(270deg, #503E72 0%, #2E2146 100%);
        min-height: 200px;
        border-radius: 15px;
      }

      .imgf {
        margin-left: 105px;
        margin-top: -170px;
        margin-bottom: 43px;
      }
    }

    .the-collapse-of-the {
      color: #969696;
      font-weight: 500;
      font-size: 14px;
      line-height: 26px;
    }

    .bigimg {
      margin-top: 50px;
      max-width: 846px;
      margin-bottom: 45px;

      .purplebox {
        width: 100%;
        background: linear-gradient(270deg, #503E72 0%, #2E2146 100%);
        border-radius: 15px;
        padding: 30px;

        img {
          width: 100%;
        }
      }
    }

    .ifreamvideo {
      border-radius: 15px;
      max-width: 846px;
      margin-top: 15px;
      margin-bottom: 40px;

      iframe {
        border-radius: 15px;
        height: 480px;
      }
    }
  }

  padding-bottom: 50px;
}
