@media(max-width: 1135px) {
  .fordesktopmap {
    display: none !important;
  }

  .contactcon .gidepr form .leftside {
    position: relative;
    top: 15px;
    margin: auto;
    max-width: auto;
    right: auto;
    text-align: center;
    margin-top: 50px;
  }

  .contactcon .mapdown .maxboxd .leftside {
    position: relative;
    top: 15px;
    margin: auto;
    right: auto;
    text-align: center;
    top: 275px;
  }

  .contactcon .mapdown .imgbox {
    min-height: 416px;

    img {
      height: 416px;
    }
  }

  .contactcon .mapdown .boxofcont {
    top: -105px;
  }

  .contactcon .mapdown {
    margin-top: 200px;
  }

  .contactcon .mapdown .imgbox {
    img {
      margin: auto;
      display: block;
      max-width: 100%;
    }
  }
}
@media(max-width: 992px) {
  .contactcon .gidepr h1 {
    height: 87px;
    color: #FFFFFF;
    font-size: 32px;
    margin-top: 130px;
  }

  .contactcon .mapdown .imgbox {
    width: calc(100% + 30px);
    margin-left: -15px;
    border-radius: 0;
  }

  .contactcon .gidepr h2 {
    font-size: 21px;
  }

  .concontenet .maxwidth .btns {
    margin-bottom: 0 !important;
    height: auto !important;
  }

  .concontenet .leftside {
    padding-top: 0;
  }

  .readmorecon .heropr .sign-up {
    margin-bottom: 60px;
  }

  .terms .box {
    padding: 0;
  }

  .terms {
    background: #161616;
  }

  .terms .box {
    background: #161616;
    margin-bottom: 50px;
  }

  .terms h1 {
    font-size: 32px;
  }

  .terms p {
    margin-bottom: 25px;
  }

  .herocon .gidepr h1 {
    font-size: 32px;
  }

  .herocon .gidepr img {
    margin-top: 126px;
  }

  .herocon .gidepr .paragraph {
    font-size: 18px;
    margin-bottom: 60px;
  }

  .concontenet .maxwidth .box {
    margin-bottom: 37px;
  }

  .readmorecon .heropr h1 {
    font-size: 26px;
    margin-top: 40px;
  }

  .contentguidepage .cont .bigimg .purplebox {
    padding: 15px;
    width: calc(100% + 30px);
    margin-left: -15px;
    border-radius: 0;
  }

  .contentguidepage .forfixed {
    display: none;
  }

  .contentguidepage .cont .minimg .imgf {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 43px;
  }

  .contentguidepage .cont .ifreamvideo iframe {
    height: 290px;
  }

  .contentguidepage .cont .minimg .purplebox {
    width: calc(100% + 30px);
    margin-left: -15px;
    border-radius: 0;
  }

  .heroguidepage {
    min-height: 349px;
  }

  .contentguidepage .cont h1 {
    font-size: 26px;
    font-weight: bold;
    line-height: 39px;
  }

  .contentguidepage {
    padding-top: 112px;
  }

  .contentguidepage .cont h2 {
    padding: 0;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
  }

  .contentguidepage .cont h4 {
    padding: 0;
  }

  .contentguidepage .cont pre {
    margin: 0 0 30px;
  }

  .contentguidepage .cont .btn {
    margin: 0 0 30px;
  }

  .contentguidepage .cont ul {
    padding: 0 0 30px 30px;
  }

  .heroguidepage h1 {
    margin-top: 130px;
    font-size: 32px;
    font-weight: bold;
    line-height: 39px;
    text-align: center;
  }

  .contentguidepage .cont h1 {
    padding: 0;
  }

  .contentguidepage .cont p {
    padding: 0;
  }

  .heroguides .gidepr h1 {
    font-size: 32px;
    font-weight: bold;
    line-height: 39px;
    text-align: center;
    margin-top: 130px;
  }

  .getstartguide .bigbox p {
    padding: 0;
  }

  .getstartguide .bigbox .btnopen {
    z-index: 1;
    position: relative;
    right: auto;
    bottom: auto;
    padding: 0;
    max-width: 164px;
    width: 100%;
    margin-top: 35px;
  }

  .getstartguide .miniboxguid h2 {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    padding-top: 30px;
  }

  .getstartguide .miniboxguid p {
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
  }

  .fordesktoppricingplan {
    display: none;
  }

  .formobilepricingplan {
    display: block;
  }

  .scale .tablescale .col1 h2,
  .scale .tablescale .col1 h3,
  .scale .tablescale .col2 h2,
  .scale .tablescale .col2 h3,
  .scale .tablescale .col3 h2,
  .scale .tablescale .col3 h3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .hero .forifream {
    width: 140px;
    height: 247px;
    position: absolute;
    z-index: 1;
    right: 62px;
    top: 44px;
    overflow: hidden;
    transform: rotate3d(5, -5, 5, 5deg);
  }

  .hero .ifreamfordiagram {
    width: 140px;
    height: 270px;
  }

  .hero .phonimg {
    position: absolute;
    right: -20px;
    top: -104px;
    max-width: 300px;
  }

  .hero .imghero {
    margin-top: 30px;
  }

  .ctav2 .btns p iframe {
    display: inline-block;
    margin-bottom: 0;
    height: 30px;
    width: 130px;
    margin-top: -1px;
  }

  .hero .btns .signup,
  .hero .btns p img {
    width: 150px;
  }

  .hero .btns .signup {
    display: block;
    width: 150px;
    padding: 6px 15px;
  }

  .navbar-expand-lg {
    min-height: auto;
  }

  .hero {
    padding-top: 100px;
  }

  .hero {
    text-align: left !important;
  }

  .hero .h3div {
    margin-top: 0;
  }

  .hero h3 {
    text-align: center;
  }

  img {
    display: block;
    margin-left: 0;
  }

  .catch h4,
  .catch p,
  .hero .paragraph h4,
  .hero .paragraph p,
  .hero h3,
  .scale h4,
  .scale p,
  .steps h2,
  .steps p {
    text-align: left;
    margin-left: 0;
    margin-right: auto;
  }

  .hero {
    min-height: auto;
  }

  .catchimgtop {
    display: none;
  }

  .footer .rightside {
    float: left;
    margin-top: 20px;
  }

  .features .imgs img {
    display: inline-block;
  }

  .footer .rightside h2 img {
    display: inline-block;
  }

  .catch h4,
  .hero .paragraph h4,
  .scale h4 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .steps .stepscont {
    min-height: auto;
  }

  .hero h1,
  .hero h2,
  .hero p {
    text-align: left;
    margin-left: 0;
  }

  .btns {
    text-align: left;
  }

  .hero .btns .signup {
    text-align: center;
  }

  .hero .btns {
    display: block;
  }

  .hero .btns {
    height: 90px;
  }

  .hero .btns p {
    float: left;
  }

  .hero .btns .signup {
    text-align: center;
    margin-top: -3px;
  }

  .catch p,
  .hero .paragraph p,
  .scale p {
    margin-top: 30px;
  }

  .ctav2 h1,
  .ctav2 p {
    text-align: left;
  }

  .btns .signup {
    text-align: center;
  }

  .btns {
    display: block;
  }

  .btns {
    height: 90px;
  }

  .btns p {
    float: left;
  }

  .ctav2 .btns .signup {
    display: block;
    margin-top: -2px;
    padding: 7px 20px;
    width: 130px;
    padding: 2px 15px;
    margin-top: -2px;
    color: #fff;
  }

  .ctav2 .btns p img {
    width: 130px;
  }

  .hero h2 {
    margin-bottom: 40px;
  }

  .scale .bgoftable {
    display: none;
  }

  .hero .btns p img {
    margin-left: 5px;
    margin-right: 5px;
  }

  .hero .h3div {
    margin-top: 50px;
    margin-bottom: 40px;
  }
}

.forphone {
  margin-bottom: 20px;
  margin-top: 20px;
  display: none;

  .firstline {
    p {
      display: inline;
      padding: 0;
      margin: 0;
      // font-family: 'Rubik', sans-serif;
      color: #969696;
      font-weight: 600;
      line-height: 26px;
      font-size: 13px;

      img {
        display: inline;
        margin-right: 5px;
      }
    }

    .demo {
      color: #fff;
    }

    p:first-child {
      float: left;
    }

    p:last-child {
      float: right;
    }
  }

  .nav-tabs {
    border: 0;
  }

  .nav-tabs > li {
    width: 50%;
    text-align: center;
    padding: 0;
    margin: 0;
    // font-family: 'Rubik', sans-serif;
    color: #969696;
    font-weight: 600;
    line-height: 26px;
    font-size: 13px;
  }

  .nav-tabs > li > a {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    // font-family: 'Rubik', sans-serif;
    color: #969696;
    font-weight: 600;
    line-height: 26px;
    font-size: 13px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-tabs > li > a {
    color: #969696;
  }

  .nav-tabs {
    border-bottom: 2px solid #969696;
    border-top: 1px solid #969696;
  }

  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li.active > a:hover {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #CF407B;
    color: #fff;
    padding-bottom: 12px;
    margin-bottom: -2px;
  }

  .nav-tabs > li > .active,
  .nav-tabs > li > .active:focus,
  .nav-tabs > li > .active:hover {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #CF407B;
    color: #fff;
    padding-bottom: 12px;
    margin-bottom: -2px;
  }

  .imgcollect {
    margin: auto;
  }

  .carousel {
    img {
      margin: auto;
      display: block;
    }
  }

  .carousel-indicators {
    bottom: -35px;
    background: #181818;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .carousel-indicators li {
    border: 1px solid #515151;
  }

  .carousel-indicators .active {
    background-color: #515151;
  }
}

.forifream2 {
  display: none;
}
@media(max-width: 772px) {
  .heropricing .heropr h1 {
    color: #FFFFFF;
    // font-family: 'Rubik', sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 39px;
    margin-top: 152px;
    min-height: 39px;
  }

  .heropricing .heropr .paragraph {
    max-width: 342px;
    color: #969696;
    // font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin-top: 30px;
  }

  .heropricing .heropr .sign-up {
    margin-top: 40px;
  }

  .formobilepricingplan {
    margin-top: 110px;
  }

  .formobilepricingplan .maxwidthplan .tablecol1 p i {
    margin-top: 13px;
  }

  .heropricing .tablescalerowpricing h1 {
    color: #FFFFFF;
    // font-family: 'Rubik', sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 39px;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 0;
  }

  .heropricing .tablescalerowpricing h2 .openpopup i {
    color: #969696;
    position: absolute;
    top: 4px;
    font-size: 18px;
    right: 10px;
  }

  .heropricing .tablescalerowpricing h2 {
    height: 26px;
    color: #969696;
    // font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    margin-top: 20px;
  }

  .heropricing .trialwork h1 {
    color: #FFFFFF;
    // font-family: 'Rubik', sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 39px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 30px;
  }

  .heropricing .trialwork p {
    margin-top: 0;
    color: #969696;
    // font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
  }

  .hero .forifream {
    display: none;
  }

  .ifreamfordiagram2 {
    display: block;
    width: 100%;
    height: 1500px;
    max-width: 350px;
    position: relative;
    margin: auto;
  }

  .forifream2 {
    height: 600px;
    overflow: hidden;
    display: block;
  }

  .hero .phonimg {
    display: none;
  }

  .hero .btns p iframe {
    display: inline-block;
    margin-bottom: -14px;
    height: 38px;
    width: 160px;
    margin-top: -3px;
  }

  .hero .btns {
    margin-bottom: 10px;
  }

  .forphone {
    display: block;
    background: rgba(22, 22, 22, 0.5);
    margin-top: 40px;
  }

  .hero .imghero {
    display: none;
  }

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .footer ul {
    margin-right: 20px;
  }

  .footer {
    margin-top: 40px;
  }

  .ctav2 .btns p img {
    width: 120px;
  }

  .hero h3 {
    line-height: 32px;
    font-size: 20px;
  }

  .hero h1 {
    line-height: unset;
    font-size: 27px;
  }

  .footer {
    margin-top: 0;
    padding-top: 50px;
  }

  .hero h2 {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: normal;
  }

  .catch p,
  .hero .paragraph p,
  .scale p {
    padding-bottom: 30px;
  }

  .scale .spanp {
    margin-top: 0;
  }

  .steps {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .features {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .features ul {
    padding-left: 30px;
  }

  .navbar {
    .container {
      padding: 0;
    }
  }

  .navbar-expand-lg .navbar-brand {
    margin-left: 15px;
  }

  .navbar-expand-lg .navbar-toggle {
    margin-right: 0;
    margin-top: 17px;
  }

  .navbar-fixed-bottom .navbar-collapse,
  .navbar-fixed-top .navbar-collapse {
    max-height: 100%;
  }

  .navbar-expand-lg .menuforphone {
    padding-left: 20px;
  }

  .container > .navbar-header {
    max-width: 100%;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero h2 {
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 21px;
  }

  .hero .btns {
    height: 80px;
  }

  .hero .h3div {
    margin-bottom: 50px;
  }

  .hero h3 {
    line-height: 39px;
    font-size: 26px;
  }

  .hero .paragraph h4 {
    font-size: 21px;
    margin-bottom: 50px;
  }

  .catch h4 {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 40px;
  }

  .scale h4 {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .catchimgbtn {
    display: none;
  }

  .scale .tablescale .col1 h2,
  .scale .tablescale .col2 h2,
  .scale .tablescale .col3 h2 {
    font-size: 16px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .scale .tablescale .col1 h3,
  .scale .tablescale .col2 h3,
  .scale .tablescale .col3 h3 {
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
  }

  .scale .tablescale .col1,
  .scale .tablescale .col2,
  .scale .tablescale .col3 {
    min-height: 370px;
  }

  .scale p {
    margin-top: 0;
  }

  .scale .spanp {
    padding: 0;
  }

  .stepsimgtop {
    display: none;
  }

  .scale {
    padding-bottom: 40px;
  }

  .steps {
    padding-top: 40px;
  }

  .footer {
    padding-top: 40px;
    margin: 0;
    // background: url("../img/footerbg.png") no-repeat top left, linear-gradient(rgba(22, 22, 22, 1) 100%, rgba(22, 22, 22, 1)100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .footercon {
    padding-top: 40px;
    margin: 0;
    // background: url("../img/footerbg.png") no-repeat top left, linear-gradient(rgba(24,24,24,1) 100%, rgba(24,24,24,1) 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .footer .footerbg {
    display: none;
  }

  .navbar-expand-lg .navbar-nav > li > a {
    padding: 20px;
  }

  .navbar-expand-lg .navbar-nav > li > .signin {
    margin-top: 1px;
  }

  .tablescalerow {
    .col-md-6 {
      padding-left: 13px;
      padding-right: 13px;
    }
  }
}
@media(max-width: 500px) {
  .ctav2 {
    .fordesk {
      display: none;
    }

    .forphone3 {
      display: block;

      img {
        width: 100%;
      }
    }
  }

  .formobilepricingplan .maxwidthplan .tablecol .btn a {
    min-width: 100%;
    max-width: 171px;
    width: 100%;
  }

  .formobilepricingplan .plansforslider {
    position: absolute;
    right: 0;
    top: -29px;
    width: 46%;
  }

  .formobilepricingplan .maxwidthplan .carousel-indicators {
    bottom: 80px;
  }

  .formobilepricingplan .maxwidthplan .nom {
    margin-top: -70px;
  }
}
@media(max-width: 480px) {
  // .scale .tablescale .col1 h2, .scale .tablescale .col2 h2, .scale .tablescale .col3 h2{
  // 	font-size: 12px;
  // 	padding-bottom: 10px;
  // 	padding-left: 10px;
  // 	padding-right: 10px;
  // }
  // .scale .tablescale .col1 h3, .scale .tablescale .col2 h3, .scale .tablescale .col3 h3{
  // 	font-size: 12px;
  // 	padding-left: 10px;
  // 	padding-right: 10px;
  // 	margin-bottom: 7px;
  // }
  .hero .btns p iframe {
    display: inline-block;
    /* margin-bottom: -4px; */
    height: 38px;
    width: 160px;
    margin-top: -3px;
  }

  .hero .btns {
    margin-bottom: 10px;
  }
}
@media(max-width: 430px) {
  .scale .tablescale .col1 h3 i,
  .scale .tablescale .col2 h3 i,
  .scale .tablescale .col3 h3 i {
    font-size: 19px;
  }

  .formobilepricingplan .maxwidthplan .tablecol p,
  .formobilepricingplan .maxwidthplan .tablecol1 p {
    font-size: 14px;
    height: 29px;
  }

  .ctav2 .btns .signup {
    width: 130px;
    padding: 2px 14px;
  }

  .forphone .firstline p {
    font-size: 12px;
  }

  .hero .btns p {
    width: 130px;
    padding: 0;

    img {
      width: 130px;
    }
  }

  .hero .btns .signup {
    display: block;
    width: 130px;
    padding: 3px 15px;
  }

  .forphone2 .btns .signup {
    // font-family: 'Rubik', sans-serif;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 13px;
    text-transform: uppercase;
    background: #474747;
    border-radius: 3px;
    padding: 7px 15px;
    margin-top: 7.5px;
    margin-left: 5px;
    color: #fff;
    width: 150px;
    width: 130px;
    display: block;
    float: left;
  }

  .hero .btns p iframe {
    display: inline-block;
    margin-bottom: -4px;
    height: 31px;
    width: 130px;
    margin-top: -2px;
  }

  .heropricing .tablescalerowpricing .tablescale .col1 h2,
  .heropricing .tablescalerowpricing .tablescale .col2 h2,
  .heropricing .tablescalerowpricing .tablescale .col3 h2 {
    font-size: 13px;
    padding-left: 0;
    padding-right: 0;
  }

  .heropricing .tablescalerowpricing .tablescale .col1 h3,
  .heropricing .tablescalerowpricing .tablescale .col2 h3,
  .heropricing .tablescalerowpricing .tablescale .col3 h3,
  .scale .tablescale .col1 h2,
  .scale .tablescale .col1 h3,
  .scale .tablescale .col2 h2,
  .scale .tablescale .col2 h3,
  .scale .tablescale .col3 h2,
  .scale .tablescale .col3 h3 {
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
  }
}
@media(max-width: 400px) {
  .contactcon .mapdown .maxboxd .leftside {
    top: 235px;
  }

  .contactcon .mapdown .imgbox img {
    height: auto;
  }
}
@media(max-width: 385px) {
  .scale .tablescale .col1 h2,
  .scale .tablescale .col2 h2,
  .scale .tablescale .col3 h2 {
    font-size: 15px;
  }

  .contentguidepage .cont .ifreamvideo iframe {
    height: 190px;
  }
}
@media(max-width: 357px) {
  .scale .tablescale .col1 h2,
  .scale .tablescale .col2 h2,
  .scale .tablescale .col3 h2 {
    font-size: 12px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
  }

  .scale .tablescale .col1 h3,
  .scale .tablescale .col2 h3,
  .scale .tablescale .col3 h3 {
    font-size: 11px;
    padding-left: 2px;
    padding-right: 2px;
  }
}