@media (min-width: 993px) {
  .value {
    margin-right: 15%;
    margin-left: 15%;
  }
}
@media screen and (max-width: 992px) {
  .hide-on-mobile {
    display: none !important;
  }

  .btn {
    margin-right: 0;
  }

  #saved-searches {
    float: none;
    width: 100%;
  }
}