$whitecolor: #ffffff;
$silvercolor: #B7B7B7;
$bluecolor: #ffffff;
$orangecolor: #f1ba58;
$brand-green: #5eeb8f;
$brand-brighter-green: #63ff99;
$brand-blue: #2155a3;
$brand-light-blue: #6286DB;
$brand-fuscia: #E35B8D;
$brand-gray: #9a9a9a;
$brand-black: #161616;
$brand-light-black: #1d1d1d;
$brand-light-gray: #e5e5e5;
$brand-yellow: #fff86c;
$brand-purple: #8E6DDF;
$brand-light-purple: #C7A1FF;