@import "named_variables";

.source-logs-search-container {
    display: grid;
    grid-template-rows: 24% 76%;
    grid-template-columns: 50% 50%;
    grid-column-gap: 0vw;
    height: 90vh;
    width: 95vw;

    & form {
        grid-row: 1;
        grid-column: span 2;
    }

    & .alert {
        margin: 10px 10px 0px 0px;
    }

    & #logs-list {
        grid-column: span 2;
        grid-row: 2/2;
        display: flex;
        flex-direction: column-reverse;

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar {
            width: 15px;
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #fff;
            background-image: -webkit-gradient(
                linear,
                50% 0%,
                75% 100%,
                from($brand-green),
                to($brand-brighter-green)
            );
        }
    }
}

.source-logs-search-modals {
    & kbd {
        white-space: nowrap;
    }

    & .modal-content {
        color: white;
    }
}
