body.experimental-ui {
    color: white;

    & nav.navbar {
        max-height: 7vh;

        & .source-name {
            color: black;
        }
    }

    & main {
        padding-top: 2vh;
        margin-top: 7vh;
        height: 93vh;
    }
}
