<.subheader {assigns}>
  <:path>
    ~/<.subheader_path_link live_patch to={~p"/alerts"} team={@team}>alerts</.subheader_path_link>/<.subheader_path_link live_patch to={~p"/alerts/#{@alert.id}"} team={@team}>
      {@alert.name}
    </.subheader_path_link>/edit
  </:path>
  <.render_docs_link {assigns} />
</.subheader>

<section class="mx-auto container">
  <.alert_form {assigns} />
</section>
