<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Easily access your Cloudflare, Vercel & Elixir logs in a centralized web-based log management solution." />
    <meta name="author" content="" />
    <title>{page_title(assigns)}</title>
    <link rel="stylesheet" href={Routes.static_path(@conn, "/js/app.css")} />
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/images/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />
    <link rel="manifest" href={Routes.static_path(@conn, "/manifest.json")} />
    <meta name="msapplication-TileColor" content="#5eeb8f" />
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png" />
    <meta name="theme-color" content="#5eeb8f" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="slack-app-id" content="AQEDJ7H7G" />
    <link rel="icon" href={Routes.static_path(@conn, "/images/favicon.ico")} />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" />
    {csrf_meta_tag()}
    <%= if assigns[:user] do %>
      <script>
        window.userToken = "<%= Phoenix.Token.sign(LogflareWeb.Endpoint, @conn.secret_key_base, assigns[:user].id) %>";
      </script>
    <% end %>
  </head>
  <body>
    {render("navbar.html", assigns)}

    <%= if assigns[:banner] do %>
      {render("banner.html", @banner)}
    <% end %>

    {@inner_content}
    <script src={Routes.static_path(@conn, "/js/app.js")}>
    </script>
    <%= if Application.get_env(:logflare, :env) == :prod do %>
      <script>
        window.addEventListener('load', () => {
          if (!('serviceWorker' in navigator)) {
            // service workers not supported 😣
            return
          }

          navigator.serviceWorker.register('/worker.js').then(
            () => {
              // registered! 👍🏼
            },
            err => {
              console.error('SW registration failed! 😱', err)
            }
          )
        })
      </script>
    <% end %>
  </body>
</html>
