<h2>Edit Application</h2>

<%= render "form.html", changeset: @changeset,
                        action: Routes.oauth_application_path(@conn, :update, @application) %>

<span><%= link "Back", to: Routes.oauth_application_path(@conn, :index) %></span>
