<h1>New Application</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.oauth_application_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.oauth_application_path(@conn, :index) %></span>
