<.subheader {assigns}>
  <:path>~/endpoints/<%= @show_endpoint.name %>/edit</:path>
</.subheader>

<h1>Edit Endpoint <code><%= @show_endpoint.name %></code></h1>

<.endpoint_form {assigns} />
<.run_query_form {assigns} />
<.run_query_result {assigns} />
