<div class="subhead subhead-fixed">
  <div class="container mx-auto d-flex">
    <div class="mr-auto">
      <h5>~/admin/plan/<%= @plan.id %>/edit</h5>
    </div>
    <div class="log-settings">
      <%= render LogflareWeb.AdminSharedView, "nav_links.html", conn: @conn %>
    </div>
  </div>
</div>
<div class="container mx-auto">
  <h1>Edit Plan</h1>
  <%= render "form.html", Map.put(assigns, :action, Routes.admin_plan_path(@conn, :edit, @plan)) %>
</div>
</div>
