<div class="subhead subhead-fixed">
  <div class="container mx-auto">
    <%= render LogflareWeb.AdminSharedView, "nav_links.html", conn: @conn %>
    <h5>~/admin/plans/new</h5>
  </div>
</div>
<div class="container mx-auto">
  <h1>New Plan</h1>
  <%= render "form.html", Map.put(assigns, :action, Routes.admin_plan_path(@conn, :new)) %>
</div>
</div>
