<.subheader>
  <:path>
    ~/<.link patch={~p"/backends"} data-confirm="Confirm navigate away? All unsaved changes will be lost">backends</.link>/new
  </:path>
</.subheader>

<div class="container mx-auto">
  <.backend_form {assigns} />
</div>
