name: Docker Retag Dev Image to Versioned Image
on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  retag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Versioned - Merge multi-arch manifests and push (release only)
        run: |
          make tag-versioned

  trigger_cloudbuild:
    uses: ./.github/workflows/trigger-cloudbuild.yml
    needs:
      - retag
    secrets: inherit

  mirror_image:
    runs-on: ubuntu-latest
    needs:
      - retag
    steps:
      - id: docker-image
        run: |
          tag="supabase/logflare:$(cat ./VERSION)"
          echo "tag=$tag" >> $GITHUB_OUTPUT
      - name: Generate token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
          owner: supabase
          repositories: cli
          skip-token-revoke: true
      - name: Dispatch event to CLI repository
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ steps.app-token.outputs.token }}
          repository: supabase/cli
          event-type: mirror-image
          client-payload: '{"image":"${{ steps.docker-image.outputs.tag }}"}'
