name: Elixir Migration Check

on:
  workflow_dispatch:
  pull_request:
    branches: [main]
    paths:
      - "priv/repo/migrations/**"

permissions:
  contents: read

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    services:
      postgres:
        image: bitnami/postgresql:13.15.0
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: logflare_test
          POSTGRESQL_WAL_LEVEL: logical
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd "pg_isready -d logflare_test -U postgres -p 5432"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 10
    env:
      MIX_ENV: test
      SHELL: /bin/bash
    steps:
      - uses: actions/checkout@v3
      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          version-file: .tool-versions
          version-type: strict
      - name: Install Rust
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
      - name: Restore dependencies cache
        uses: actions/cache@v3
        with:
          path: |
            deps
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-
      - name: Install dependencies
        run: mix deps.get
      - name: Migrate
        run: mix ecto.setup
      - name: Rollback
        run: mix ecto.rollback
      - name: Test
        run: make test.only
